<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>We should use your camera</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We should use your library</string>
	<key>GAMES_API_TOKEN</key>
	<string>$(GAMES_API_TOKEN)</string>
</dict>
</plist>
